WCF_Klient_Test/Service References/AuctionReference/AuctionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_exam_Excercise_Solution" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_exam_Excercise_Solution" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuctionItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="BidCustomName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BidCustomPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BidPrice" type="xs:int" />
      <xs:element minOccurs="0" name="BidTimestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ItemDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemNumber" type="xs:int" />
      <xs:element minOccurs="0" name="RatingPrice" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuctionItem" nillable="true" type="tns:AuctionItem" />
  <xs:complexType name="ArrayOfAuctionItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuctionItem" nillable="true" type="tns:AuctionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuctionItem" nillable="true" type="tns:ArrayOfAuctionItem" />
  <xs:complexType name="Bid">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bid" nillable="true" type="tns:Bid" />
</xs:schema>