WCF_Klient_Test/Service References/AuctionReference/AuctionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10127/AuctionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_exam_Excercise_Solution" />
  <xs:element name="GetAutctionItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutctionItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_exam_Excercise_Solution" minOccurs="0" name="GetAutctionItemResult" nillable="true" type="q1:AuctionItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_exam_Excercise_Solution" minOccurs="0" name="GetItemsResult" nillable="true" type="q2:ArrayOfAuctionItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveBid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_exam_Excercise_Solution" minOccurs="0" name="inBid" nillable="true" type="q3:Bid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiveBidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GiveBidResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>