WCF_Klient_Test/Service References/AuctionReference/AuctionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuctionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10127/AuctionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10127/AuctionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10127/AuctionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_exam_Excercise_Solution" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuctionService_GetAutctionItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAutctionItem" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetAutctionItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAutctionItemResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GiveBid_InputMessage">
    <wsdl:part name="parameters" element="tns:GiveBid" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GiveBid_OutputMessage">
    <wsdl:part name="parameters" element="tns:GiveBidResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuctionService">
    <wsdl:operation name="GetAutctionItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetAutctionItem" message="tns:IAuctionService_GetAutctionItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetAutctionItemResponse" message="tns:IAuctionService_GetAutctionItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetItems" message="tns:IAuctionService_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetItemsResponse" message="tns:IAuctionService_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GiveBid">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GiveBid" message="tns:IAuctionService_GiveBid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GiveBidResponse" message="tns:IAuctionService_GiveBid_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuctionService" type="tns:IAuctionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAutctionItem">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetAutctionItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GiveBid">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GiveBid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuctionService">
    <wsdl:port name="BasicHttpBinding_IAuctionService" binding="tns:BasicHttpBinding_IAuctionService">
      <soap:address location="http://localhost:10127/AuctionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>